// Настройки
@import "_config/variables";
@import "_config/fonts";

// Миксины
@import "_mixins/reset";
@import "_mixins/media";
@import "_mixins/container";
@import "_mixins/flex";


*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body {
	@include reset-model;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: #fff;

	@include Roboto-Regular;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

// Изображения
img {
	max-width: 100%;
}

// Ограничение для макета
.wrapper {
	@include wrapper;
	background-color: $color-bg-base;
	color: $color-text-base;
}

// Контентная область
.container {
	@include container;
}


// Блоки
@import "block/*.scss";
